body
{
	background-image: url("city.jpg");
    background-position: center top;
    background-size: cover;
    height: 100vh;
/*     margin-top: -106px; */
	overflow: hidden;
   
    
}

#board
{
	height: 578px;
	width: 374px;
	margin: 30px auto;
	position: relative;
	border: 8px double white;
	border-radius: 10px;
	box-shadow: 10px 12px 20px rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.5);
}

#scoreboard
{
	color: white;
	font-size: 20px;
	margin: 0px auto;
	width: 600px;
}